.menu-btn nav ul li{
    display:inline;
    margin-right:15px;
}
.menu-btn{
    position:fixed;
    width: 100%;
    top:-5px;
    border:1px solid rgb(59, 109, 80);
    background-color:rgb(59, 109, 80);
    color:white;
}
.nav-optionLogin, .nav-optionLogin li a {
    border: 1px solid rgb(59, 109, 80);
    background: rgb(59, 109, 80);
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav-optionLogin li{
    position: relative;
    left:20px;
}
.nav-optionLogin {
    position: relative;
    right: 15px;
}
.login-btn{
    direction: rtl;
    position: absolute;
    bottom:34px;
    top: 1px;
    right: 1px;
    height: 45px;
}
.login-btn ul label{
    cursor: pointer;
}
.Menu-principal-btn{
    margin-left: 15px;
}
.menu-btn nav ul li:hover{
    cursor: pointer;
}
.nav-optionLogin ul li {
    display: inherit !important;
    text-align: center !important;
    margin-right: 44px !important;
}