.pb-Container{
    text-align: left;
}
.pb-menu{
    display: inline-grid;
    margin-left: 400px;
    position: relative;
    top:60px;
}
.pb-user{
margin-left: 150px;
}
.pb-date{
    margin-left: 150px;
}
.pb-comment{
    margin-left: 180px;
}
.pb-file{
    margin-left: 180px;
}
.pb-like{
    margin-left: 160px;
}
.pb-liked{
    margin-left: 160px;
}
@media(max-width:510px){
.pb-user{
margin-left: 15%;
}
.pb-date{
    margin-left: 15%;
}
.pb-comment{
    margin-left: 20%;
}
.pb-file{
    margin-left: 20%;
}
.pb-like{
    margin-left: 18%;
}
.pb-liked{
    margin-left: 18%;
}
}