body{
    padding:0;
    margin:0;
    font-family: Arial, "Arial Narrow";
}
ul {
    padding: 0;
}
.BodyApp{
    text-align: center;
    margin-top: 50px;
}
a{
    text-decoration: none;
    color:black;
}
/*a:link, a:active{
    color:black;
}*/
::selection {
    color: red;
    background: yellow;
  }